*{
    margin: 0;
    padding: 0;
}
.wrapper{   
    width: 100%;
}
.slider{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(12,3,51,0.3),rgba(12,3,51,0.3));
    position: relative;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-1{
    width: 100%;
    height: 60px;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px 8%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;  
}
.terra-1{
    display: none;
}
.nav-1 ul li{
    list-style: none;
    display: inline-block;
    margin-left: 40px;
    display: none;
}
.nav-1 ul li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
}
.content{
    text-align: left;
}
.content h1{
    
    font-size: 30px;
    color:#fff;
    font-weight: 600;
}
.content h4{
    color: #000;
}
.content a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    background-color: transparent;
    font-size: 24px;
    border: 2px solid #000;
    padding: 3px 30px;
    border-radius: 50px;
    margin-top: 20px;
}
.content a:hover{
    background-color: orangered;
    color: #fff;
}
.back-vedio{
    position: absolute;
  right: 0;
  bottom: 0;
    z-index: -1;
    
}
nav ol li a{
    text-decoration: none;
    color: #000;
    font-size: 17px;
    list-style-type:none ;
}
.teddy{
    background-color: #FCF8E8!important;
}
.burgger{
    font-size: 20px;
     color: black;
}
.search{
    color: black;
    font-size: 20px;
    margin-right: 40px;
}
.nav-1 img{
    width: 100px;
    height: 50px;
    margin-left: -180px;
}
.hero{
    text-align: center;
    padding: 30px 0px;
}
.hero img{
    width: 80%;
    height: auto;
}
.hero-2 h2{
    text-align: center;
}
@media (min-aspect-ratio:16/9){
    .back-vedio{
        width: 100%;
        height: auto;
    }
}
@media (max-aspect-ratio:16/9){
    .back-vedio{
        width: auto;
        height: 100%;
    }
}
.more{
    text-decoration: none;
    display: inline-block;
    color: #000;
    background-color: orange;
    font-size: 24px;
    padding: 3px 30px;
    border-radius: 50px;
    margin-top: 20px;   
    margin-top: 10px !important;
    border-radius: 10px;
}
.moove h3{
    text-align: center;
    margin: 30px 0px;
}
.moove{
    padding: 30px 0px;
}
.moove:hover{
    background-color: #EEEEEE;
}
.moove h3:hover{
    font-size: 30px;
    color: orangered;
}
.moove p{
    margin-left: 10px;
}
.section{
    padding: 20px 0px 30px 10px; 
    margin-left: 10px;
}
.section-1{
    padding: 30px 0px;
    margin-top: 10px;   
}
.section-1 a{
   padding: 15px;
    background-image:linear-gradient(to right, pink , skyblue);
    border-radius: 50%;
    margin-left: 10px;
}
.main-section{
    border: 1px dotted black;
    background-color: #F7F7F7;
    padding: 20px 0px;
    width: 250px;
    height: 300px;
    margin-left: 10px;
    border-radius: 10px;
    box-shadow: 3px 3px 3px 3px rgba(0,0,0,0.2);
}
.main-section:hover{
     
    height: 320px;
}
.para-1{
    text-align: center;
    margin-top: 15px;
}
.owl-carousel .owl-prev,.owl-carousel .owl-next{
    position: absolute;
    top: 50%;
    font-size: 20px;
    font-weight: 800;
    background-color: #EEEEEE!important;
    color: #000 !important;
    width: 50px;
    height: 50px;
    border-radius: 50% !important;
}
.owl-carousel .owl-prev{
    left: 0;
    margin-left: -40px !important;
}
.owl-carousel .owl-next{
    right: 0;
    margin-right: -40px !important;
}
.owl-carousel .owl-prev:hover,.owl-carousel .owl-next:hover{
    color: red !important;
    background-color: grey !important;
}
.work{
    width: 100%;
    text-align: center;
    background-color: #182747;
    color: #fff;
    padding: 20px 0px;
}
.part-1 img{
    width: 100px;
margin-top: 20px;
}
.symbol{
    background-color: #fff;
    width: 80%;
    margin-left: 30px;
    margin-bottom: 20px;
    text-align: center;
    box-shadow: 5px 3px 5px 5px rgba(0,0,0,0.2);
    padding: 20px 0px;
}
.symbol img{
    width: 80px;
    height: auto;
    padding: 10px 0px;  
}
.symbol h5{ 
    margin-top: 20px;
}
.caption{
   margin-left: 80px !important;
   font-weight: 1000;
   font-size: 30px;
}
.image{
width: 90%;
text-align: center;
margin-left: 17px ;
}
.head{
    text-align: center;
    text-transform: capitalize;
    font-weight: 800;
    font-size: 40px;
    padding: 40px 0px;
}
.sell a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    background-color: orangered;
    font-size: 24px;
    border: 2px solid #000;
    padding: 3px 30px;
    border-radius: 50px;
    margin-top: 20px; 
    margin-left: 70px;
}
.rating i{
    color: purple;
}
.slide-1{
    text-align: center;
    border: #000 dotted 1px;
}
.second{
    text-align: center;
    border-radius: 20px;
    border-top:2px solid orangered;
    margin-top: 40px;
}
.second a{
    text-decoration: none;
    display: inline-block;
    color: #000;
    background-color: orangered;
    font-size: 24px;
    border: 1px solid #000;
    padding: 3px 20px;
    border-radius: 10px;
    margin-top: 20px 0px 20px 0px;   
}
.bottom{
    background-color: #292929;
    text-align: center;
}

.siddharth{
    border: 1px dotted  #c19d60 ;
}
.siddharth a{
    color: #c19d60;   
}
.contact{
    text-align: center;
}
.mail{
    background-color: #343434;
    color: #fff;
    padding: 3px;
}
.read{
    color: #c19d60;
    text-decoration:dashed;
}
.touch{
    color: #c19d60;
    text-decoration:dashed;
}
.us{
    font-family: 'Playfair Display', cursive;
font-size: 19px;
font-weight: inherit;
font-style: inherit;
color: #c19d60;
}
.about ul li a{
    text-decoration: none;
    color: #fff;
}
@media only screen and (min-width:768px){
    .back-vedio{
        position: absolute;
        left: 0;
        top: 0;
        
    }
    .section{
        padding: 20px 0px 30px 10px; 
        margin-left:10px;
    }
    .section-1{
        padding: 30px 0px;
        margin-top: 10px;   
    }
    .section-1 a{
       padding: 15px;
        background-image:linear-gradient(to right, pink , skyblue);
        border-radius: 50%;
        
       margin-left: 30px;
    }
    .technology{
        text-align: center;
    }
    .symbol{
        width: 27%;
        margin-left: 35px;
        display: flex;
        display: inline-block;
        
    }
    .start{
        margin-top: 20px;
    }
    .sell{
        margin-top: 20%;
    }
    .bottom{
        text-align: left;
    }
    .contact{
        text-align: left;
        margin: 20px 0px;
    }
    .nav-1 img{
        margin-left: -80%;
    }
}
@media only screen and (min-width:992px){
    .nav-1 ul li{
        display: contents;
        margin-left: 40px !important;
    }
    .nav-1 ul li a{
        margin-left: 30px;
        margin-top: 10px;
    }
    .nav-2{
        display: none;
    }
    .nav-1{
        height: 100px;
    }
    .nav-1 img{
        width: 150px;
        height: 80px;
        margin-left: 10px;
    }
    .hero h2{
        margin-top: 10%;
    }
    .terra-1{
        display: contents;
        width: 100px;
        height: 100px;
    }
    .symbol{
        width: 20%;
    }
    .section h4{
        font-size: 30px;
    }
    .main-section{
        width: 300px;
    }
    .sell{
        margin-left: 40%;
        margin-top: -10px;
    }
    .more{
        margin-left: 30%;
        margin-top: 10%;
    }
   
}